@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    margin: 0;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-nav-wrapper {
    width: 100%;
    height: 100px;
    background-color: rgb(214, 213, 213);
    display: flex;
    align-items: center;
    justify-content: right;
}

.main-nav__bar {
    display: flex;
    width: 50%;
    height: 60%;
    min-width: 400px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: 8%;
    box-sizing: border-box;
    align-items: center;
    border-radius: 10px;
    background-image: url(./icons/_elementy_gradient_menu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 5px grey;
}

.nav-bar__element {
    margin: 0 auto;
}

.nav-bar__element a {
    color: white;
    text-decoration: none;
}

.main-description-wrapper {
    width: 90%;
    height: 500px;
    position: relative;
}

.description__image-wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 200px;
    width: 340px;
    height: 480px;
}

.description__image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
}

.description__welcome {
    position: absolute;
    top: calc(calc(100% - 200px) / 2);
    right: 150px;
    width: 50%;
    height: 250px;
    min-width: 500px;
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
}

.description__p1 {
    margin: 10px 0 0 0;
    font-weight: 700;
    font-size: 30px;
}

.description__p2 {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    color: rgb(232, 192, 141);
}

.description__p3 {
    font-size: 20px;
}

.description__welcome2 {
    position: absolute;
    right: 150px;
    top: calc(calc(100% - 200px) / 2 + 250px);
    min-width: 400px;
    width: 40%;
    height: 100px;
}

.description__welcome2>p {
    margin: 5px 20px;
    padding: 5px auto;
    font-size: 18px;
    text-align: right;
    vertical-align: middle;
}

.description__hire,
.description__download {
    background-image: url(./icons/_elementy_gradient_menu.jpg);
    margin: 0 10px;
    float: right;
    display: flex;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    align-items: center;
}

.description__hire p,
.description__download p {
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
}

.description__button {
    color: white;
    text-decoration: none;
}

.main-about-me-wrapper {
    margin-left: 50px;
    width: 40%;
    min-width: 400px;
    height: 450px;
}


.main-about-me-wrapper ul li p {
    font-weight: 100;
    font-size: 20px;
    margin: 5px auto;
}

.about-me__finished-course {
    width: 400px;
    height: 60px;
    font-size: 20px;
}

.main-skills-wrapper {
    margin-top: 15px;
    width: 33%;
    height: 450px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 10px;
}

.main-skills-wrapper p:first-of-type {
    margin-left: 20px;
}

.skills-list {
    margin-right: 50px;
    list-style-type: none;
}

ul.skills-list li {
    background-image: url(./icons/_elementy_gradient_menu.jpg);
    color: white;
    margin: 15px 0;
    height: 40px;
    padding-right: 15px;
    border-radius: 7px;
    text-align: right;
    vertical-align: middle;
}

li.skills-list__element1 {
    width: 70%;
}

li.skills-list__element2 {
    width: 60%;
}

li.skills-list__element3 {
    width: 70%;
}

li.skills-list__element4 {
    width: 50%;
}

li.skills-list__element5 {
    width: 90%;
}

li.skills-list__element6 {
    width: 80%;
}

.main-porftolio-wrapper {
    margin-top: 50px;
    width: 80%;
}

.main-porftolio-wrapper p {
    margin-left: 50px;
}

.portfolio-case-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
}

.portfolio__case {
    width: 450px;
    height: 350px;
    margin: 30px auto;

    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
}

.portfolio__case img {
    width: 90%;
    height: 80%;
    margin: 15px auto 0;
    display: block;
}

.portfolio__button {
    margin: 0 10px 0 auto;
    width: 60px;
    height: 60px;
    float: right;
}

.portfolio__button img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.portfolio__button img:hover {
    cursor: pointer;
}

.main-contact-wrapper {
    background-image: url(./icons/tło_gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding-top: 30px;
    width: 100%;
    height: auto;
}

.main-contact-container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;

}

.main-contact__message {
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
}

.main-contact__info {
    position: relative;
    display: inline-block;
    float: right;
    width: 50%;
    height: 100%;
}

.main-contact__message>.description__p3 {
    width: 70%;
}

div.form__input {
    margin: 20px 0;
    width: 70%;
    height: 35px;
}

div.form__input:last-child {
    background-image: url(./icons/_elementy_gradient_menu.jpg);
    height: 45px;
    margin-top: 55px;
    width: 25%;
    float: right;
}

div.form__input:last-child input {
    font-size: 18px;
    color: white;
    background: none;
}

div.form__input:last-child input:hover {
    cursor: pointer;
}

div.form__input input {
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 5px grey;
    width: 100%;
    height: 100%;
    font-size: 23px;
}

div.form__input input:focus {
    outline: none;
}

div.form__input textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 23px;
    box-shadow: 3px 3px 5px grey;
}

div.form__input textarea:focus {
    outline: none;
}

.contact__info--data {
    position: absolute;
    top: 15%;
    left: -50px;
    /* margin: auto; */
    width: 250px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
}

.contact__info--data p {
    padding-left: 35px;
}

.contact__info--caption {
    margin: 70px auto;
    width: 400px;
    height: 400px
}

.contact__info--caption img {
    width: 100%;
    height: 100%;
}

.contact__info--caption p {
    font-size: 13px;
    text-align: right;
}

#circle1 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 600px;
    height: 600px;
}


#circle2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
}

#circle3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 800px) {



    .main-wrapper {
        justify-content: center;
        min-width: 0;
        width: 100%;
        margin: 0 auto;
    }

    .main-nav-wrapper {
        justify-content: center;
    }

    .main-nav__bar {
        width: 90%;
        min-width: 0;
        margin: auto;
    }


    .main-description-wrapper {
        height: auto;
    }

    .description__image-wrapper {
        position: relative;
        margin: 0 auto;
        left: auto;
        width: 300px;
        height: 420px;
    }

    .description__welcome {
        position: relative;
        margin: 0 auto;
        top: auto;
        right: auto;
        display: block;
        min-width: 0;
        width: 100%;
    }

    .description__welcome2 {
        position: relative;
        margin: 0 auto;
        top: auto;
        right: auto;
        display: block;
        min-width: 0;
        width: 100%;
    }

    .description__welcome2>.description__p4 {
        font-size: 15px;
    }

    .main-about-me-wrapper {
        margin: 0 auto;
        width: 80%;
        height: auto;
        min-width: 0;
    }

    .main-skills-wrapper {
        width: 80%;
    }

    .portfolio__case {
        height: 330px;
    }

    .about-me__finished-course {
        width: 100%;
    }

    .main-contact__message {
        margin: 0 auto;
        display: block;
        width: 80%;
        height: 40%;
        float: none;
    }

    .main-contact__info {
        display: block;
        width: 400px;
        height: 40%;
    }

    .contact__info--data {
        position: absolute;
        top: 0;
        left: 20%;
    }

    .contact__info--caption {
        width: 100%;
    }

    .contact__info--caption img {
        display: block;
        margin-left: 50px;
        width: 90%;
    }

    #circle1 {
        width: 300px;
        height: 300px;
    }

    #circle2 {
        width: 300px;
        height: 300px;
    }

    #circle3 {
        top: 0;
        left: 0;
        width: 330px;
        height: 330px;
    }
}

@media only screen and (max-width: 300px) {

    .description__welcome {
        height: auto;
    }

    .description__image-wrapper {
        position: relative;
        margin: 0 auto;
        left: auto;
        width: 250px;
        height: 360px;
    }

    .description__hire{
        width: 100px;
    }

    .description__download{
        width: 100px;
    }

    .nav-bar__element {
        font-size: 12px;
    }

    #circle3 {
        width: 200px;
        height: 200px;
    }

    .portfolio__case{
        height: 270px;
    }

    .portfolio__case > img {
        height: 200px;
    }

    .contact__info--caption {
        width: 280px;
        height: 300px;
    }
    .main-contact__message {
        height:auto;
    }

    div.form__input {
        height: auto;
        width: auto;
        margin-bottom: 0;
    }

    div.form__input:last-child {
        width: 50%;
        margin: 0 auto;
    }

.main-contact__info{
    margin-top: 30px;
}

    .contact__info--data {
        left: 40%;
    }

    .contact__info--caption img {
        margin-left: 100px;
    }
}